<aside md-whiteframe layout-margin>
    <div layout layout-padding>
        <div flex>
            <section layout>
                <div flex layout-padding md-whiteframe="1" ng-mouseover="vm.toggleDisplayActions('keyPartners', true)" ng-mouseleave="vm.toggleDisplayActions('keyPartners', false)">
                    <!-- TODO: Key partners -->
                    <div layout layout-align="start center">
                        <div flex="80">
                            <h4><i class="material-icons">star</i> Key partners</h4>
                        </div>
                        <div flex="20" ng-if="vm.displayedActions.keyPartners">
                            <md-button aria-label="button-label" class="md-mini md-fab">
                                <md-icon> add </md-icon>
                            </md-button>
                        </div>
                    </div>
                    <ul>

                    </ul>
                </div>
                <div flex>
                    <div layout="column" layout-fill>
                        <div flex layout-padding md-whiteframe="1">
                            <!-- TODO: Ley activities -->
                            <h4><i class="material-icons">star</i> Key activities</h4>
                            <ul>

                            </ul>
                        </div>
                        <div flex layout-padding md-whiteframe="1">
                            <!-- TODO: Key resources -->
                            <h4><i class="material-icons">star</i> Key resources</h4>
                            <ul>

                            </ul>
                        </div>
                    </div>
                </div>
                <div flex layout-padding md-whiteframe="1">
                    <!-- TODO: Value propositions -->
                    <h4><i class="material-icons">star</i> Value propositions</h4>
                    <ul>

                    </ul>
                </div>
                <div flex>
                    <div layout="column">
                        <div flex layout-padding md-whiteframe="1">
                            <!-- TODO: Customer relationships -->
                            <h4><i class="material-icons">star</i> Customer relationships</h4>
                            <ul>

                            </ul>
                        </div>
                        <div flex layout-padding md-whiteframe="1">
                            <!-- TODO: Channels -->
                            <h4><i class="material-icons">star</i> Channels</h4>
                            <ul>

                            </ul>
                        </div>
                    </div>
                </div>
                <div flex layout-padding md-whiteframe="1">
                    <!-- TODO: Customer segments -->
                    <h4><i class="material-icons">star</i> Customer segments</h4>
                    <ul>

                    </ul>
                </div>
            </section>
            <section layout>
                <div flex layout-padding md-whiteframe="1">
                    <!-- TODO: Cost structure -->
                    <h4><i class="material-icons">star</i> Cost structure</h4>
                    <ul>

                    </ul>
                </div>

                <div flex layout-padding md-whiteframe="1">
                    <!-- TODO: Revenue streams -->
                    <h4><i class="material-icons">star</i> Revenue streams</h4>
                    <ul>

                    </ul>
                </div>
            </section>
        </div>
    </div>
</aside>